@import '../../styles/config';

.card {
  font-weight: bold;
  width: 260px;
  height: 310px;
  margin-left: 3em;
  color: black;
  background: #FFFFFF;
  border: 0.849241px solid #EFEFEF;
  box-shadow: 0px 3.39696px 3.39696px rgba(0, 0, 0, 0.25);
  border-radius: 21.231px;
  
  cursor: pointer;
  img {
    width: 100%;
    height: 154.56px;
    border: 0.849241px solid #EFEFEF;
    filter: drop-shadow(0px 3.39696px 3.39696px rgba(0, 0, 0, 0.25));
    border-radius: 21.231px 21.231px 0px 0px;
  }

  .btnPosition{
    position: absolute;
    width: 119.74px;
    height: 24.63px;
    left: 55px;
    top: 144px ;
  
    background: #FCD500;
    border: 0.849241px solid #EFEFEF;
    box-shadow: 0px 3.39696px 3.39696px rgba(0, 0, 0, 0.25);
    border-radius: 21.231px;
    font-style: normal;
    font-weight: 500;
    font-size: 12.7386px;
    line-height: 175.78%;
    text-align: center;
  }

  .content {
    padding: 0.2rem 1rem;

    .title {
      margin: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      /* or 25px */

      // text-align: justify;
    }
    .lecturer {
      font-size: 15px;
      color: gray;
      margin: 0;
      font-weight: normal;
    }
    .description {
      display: flex;
      align-items: center;
      margin: -10px 0px;
      .rating {
        display: flex;
        align-items: center;

        p {
          margin-right: 5px;
        }
      }
      .fence {
        width: 0;
        height: 15px;
        border: 1px solid #fff;
        background: #fff;
        margin: 5px;
      }
      .students {
        display: flex;
        align-items: center;
        font-weight: normal;

        p {
          // margin-right: 5px;
        }

        img {
          width: 21px;
          height: 13px;
        }
      }
    }
    .realPrice {
      font-size: 16px;
      color: #D0021B;
    }

    .salePrice {
      text-decoration: line-through;
      font-size: 12px;
      margin-left: 10px;
      color: rgb(212, 219, 150);
    }
  }
}

.card:first-child {
  margin-left: 18px;
}



