@import '../../../styles/config';

@mixin font{
  font-family: 'Roboto';
}

.playerwrapper{
  background-color: #0D1C45 !important;
  margin: 0 !important;
  width: 100%;
  padding: 10px 0px !important;
  //display: flex;
  justify-content: space-between;
}

.controlheader{
  color: white !important;
  padding: 14px 10px;
  padding-top: 30px !important;
  font-weight: bold;
  //position: absolute;
  height: auto;
}

.backcouse{
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.course{
  &__name{
    color: #FCD302;
    font-weight: 900;
    font-size: 40px;
    @include font();
  }
  &__short-description{
    font-size: 20px;
    font-weight: 400;
  }
}

.rowStar{
  display: flex;
  
  h6{
    color: #EC0101;
    font-weight: 500
  }

  p{
    font-size: 15px;
    margin-top: 10px !important;
  }
}

.orange-btn{
  background: $primaryBg;
  border-radius: 5px;
  font-weight: bold;
  color: #FFFFFF;
  outline: none;
  border: none;
  @include font();
  padding: 10px 15px;
}

.createdBy{
  display: flex;
  h5{
    font-weight: bold;
    margin-top: 10px;
  }
}

.release{
  display: flex;
  p{
    margin-top: 0px;
  }
}

.watchlist{
  display: flex;
  a{
    background-color: transparent;
    border: solid white 1px;
  }

  a:after{
    background-color: transparent;
    opacity: 0;
  }
}

.card {
  width: 86% !important;
  margin-left: auto !important;
  margin-right: 0 !important;
  border-radius: 19px !important;
  box-shadow: 2px 4px !important;
}

.playImage{
  width: 100% !important;
  opacity: 0.8 !important;
  background-color: black;
  border-radius: 19px !important;
  position: relative !important;

  a{
    color: white;
  }

  i{
    position: absolute;
    left: 39%;
    top: 32%;
    font-size: 85px;
  }

  img{
   height: 235px !important;
   width: 100% !important;
   object-fit: cover;
   border-radius: 19px !important;
  }
}


.price {
  padding: 0px 24px 24px !important;
  &-now {
    color: black;
    font-weight: 700;
    font-size: 26px;
    font-family: 'Roboto';
  }

  .oldPrice {
    font-size: 18px !important;
    font-weight: 400 !important;
    text-decoration: line-through;
    color: #979797 !important;
    display: block;
    margin-bottom: 25px;
  }
  
}

.buy-now-container{
  position: relative;
  width: 50%;
  & img{
    position: absolute;
    width: 22px;
    top: 10px;
    right: 20px;
  }
}

.buy-now-btn {
  color: black !important;
  border: 2px solid #FCD302 !important;
  font-size: 14px !important;
  font-style: medium !important;
  background-color: #FFFFFF;
  text-transform: none;
  width: 100%;
  height: 45px;
  padding: 2px 30px 0 0;
}

.registBtn:hover {
  background-color: none !important;
  opacity: 0.8 !important;
}

.addToShopBtn {
  background-color: #FFC000 !important;
  color: black !important;
  box-shadow: 1px #979797;
  height: 45px;
  border: #FFC000 solid 2px;
  padding-top: 2px;
  text-transform: none;
  width: 50%;
  margin-right: 15px;
  &:hover {
    background-color: #FF8A00;
    color: white !important;
  }
}

.add-love-container{
  display: flex;
  justify-content: space-between;
}

.custom-love-btn{
  height: auto;
  color: #FFFFFF;
  padding-top: 2px;
  text-transform: none;
  margin-bottom: 20px;
  &:hover{
    & i{
        color: #FF0000;
    }
  }
  & i{
    vertical-align: middle;
    margin-left: 5px;
    &:hover{
      color: #FF0000;
    }
  }
}

.burst-sale{
  width: 60px;
  object-fit: contain;
}

.price-container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.discount{
  color: #FFFFFF;
  font-size: 10px;
  font-weight: 700;
  padding: 5px 10px;
  background-color: #FF0000;
  border-radius: 5px;
  margin-left: 5px;
}

.price-discount-container{
  display: flex;
  align-items: center;
}

.category-name-container{
  display: flex;
  align-items: flex-start;
}

.button-area-container{
  display: flex;
  justify-content: space-between;
}