@import '../../../styles/config';

.playerwrapper{
  background-color: #0D1C45 !important;
  margin: 0 !important;
  width: 100%;
  padding: 10px 0px !important;
}

.controlheader{
  color: white !important;
  padding: 14px 10px;
  padding-top: 30px !important;
  font-weight: bold;
  //position: absolute;
  height: auto;
}

.backcouse{
  background-color: transparent;
  color: white;
  font-weight: bold;
}

.namecourse{
  color: #FCD302;
  font-weight: 900;
  font-size: 40px;
}

.rowStar{
  display: flex;
  
  h6{
    color: #EC0101;
    font-weight: 500
  }

  p{
    font-size: 15px;
    margin-top: 10px !important;
  }
}

.bestseller{
  background: $primaryBg;
  padding: 0px 10px;
  padding-top: 10px;
  border-radius: 5%;
  font-weight: bold;
  margin-right: 10px;
}

.createdBy{
  display: flex;
  h5{
    font-weight: bold;
    margin-top: 10px;
  }
}

.release{
  display: flex;
  p{
    margin-top: 0px;
  }
}

.watchlist{
  display: flex;
  a{
    background-color: transparent;
    border: solid white 1px;
  }

  a:after{
    background-color: transparent;
    opacity: 0;
  }
}

.card {
  width: 86% !important;
  margin-left: auto !important;
  margin-right: 0 !important;
  border-radius: 19px !important;
  box-shadow: 2px 4px !important;
}

.playImage{
  width: 100% !important;
  opacity: 0.8 !important;
  background-color: black;
  border-radius: 19px !important;
  position: relative !important;

  a{
    color: white;
  }

  i{
    position: absolute;
    left: 39%;
    top: 32%;
    font-size: 85px;
  }

  img{
   height: 235px !important;
   width: 100% !important;
   object-fit: cover;
   border-radius: 19px !important;
  }
}


.price {
  h5 {
    color: black;
    font-weight: 600;
    margin-bottom: 15px;
  }
  a {
    color: #FFC000;
    width: 100%;
    height: 45px;
    background-color: transparent;
    border: #FFC000 solid 2px;
    padding: 5px 2px;
  }

  a:hover {
    background-color: #FF8A00;
    color: white;
  }

  .oldPrice {
    font-size: 18px !important;
    font-weight: 400 !important;
    text-decoration: line-through;
    color: #979797 !important;
  }
  
}

.registBtn {
  // color:  
  color: black !important;

  // layout
  margin-top: 12px !important;
  border: black solid 1px !important;

  // style
  font-size: 14px !important;
  font-style: medium !important;
}

.registBtn:hover {
  background-color: none !important;
  opacity: 0.8 !important;
}

.addToShopBtn {
  background-color: #FFC000 !important;
  color: black !important;
  box-shadow: 1px #979797;
}
