@import "styles/course-detail/mixins";

.container {
  @include section-container;
  background-color: #FFF7DF;
  border: 0.5px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding: 35px 50px;
}

.title {
  @include section-title;
  &__icon {
    @include title-icon;
  }
}

.content{
  padding-left: 20px;
}
