@import '../../styles/config';

.container {
  display: table-footer-group;

  .main {
    padding: 45px;
    width: 1270px;
    align-self: center;  

    .welcome {
      color: $primaryColor;
      font-size: 24px;
      line-height: 15px;
        
      p:first-child {
        font-weight: bold;
        font-size: 32px;
      }
    }
  }

  img {
    width: 100% !important;
    height: auto;
    object-fit: contain;
  }

  .marginFooter {
    margin-bottom: 70px;
  }
}