.noneData{
  height: 286px;
}
.loading{
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fakeUI {
  margin: 0 !important;
  img {
    width: 100% !important;
    height: auto;
    object-fit: contain;
  }
}
