
.container {
  display: table-footer-group;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  top: 0%;
}
.noneData{
  height: 286px;
}
.loading{
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.fakeUI {
  margin: 0 !important;
  img {
    width: 100% !important;
    height: auto;
    object-fit: contain;
  }
}

.certificate-container{
  display: flex;
  justify-content: space-between;
  background-color: #F6F6F6;
  padding: 55px 75px;
  & img:nth-child(1){
    width: 510px;
  }
   & img:nth-child(2){
     width: 500px;
   }
}
