@import '../../styles/config';

.rowTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    background: linear-gradient(to right, #FF8A00, #FFC000 );
	background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-top: 50px;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 130%;
}

.btnSeeAll {
    width: 149px;
    height: 42px;
    left: 1086px;
    top: 1295.31px;
    margin-top: 30px;
    background: #FFFFFF;
    border: 2.5px solid #FF9A62;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    font-weight: 700;
    align-items: center;
    color: #FF9A62;
    margin-left: auto;
}

.listCourse {
    margin: 0 auto;
    padding-bottom: 20px;
}

.swiperSlide:hover{  
    cursor: pointer !important;
}


.mySwiper{
    height: 320px !important;
    margin-right: 0px !important;
    position: relative !important;
}