@import '../../styles/config';

.rowTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    color: $primaryColor;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 35px;
    line-height: 158.34%;
}

.btnSeeAll {
    width: 120px;
    height: 36px;
    left: 1086px;
    top: 1295.31px;

    background: #FFFFFF;
    border: 2.5px solid #FF9A62;
    box-sizing: border-box;
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    align-items: center;
    color: #FF9A62;
}

.listCourse {
    margin: 0 auto;
    padding-bottom: 20px;
}

.swiperSlide:hover{
    cursor: pointer !important;
}

.mySwiper{
    height: 380px;
}