@import '../../styles/config';

.title {
    background: linear-gradient(to right, #FF8A00, #FFC000 );
	background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 35px;
    line-height: 158.34%;
    width: fit-content;
}

.courseList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.courseCard {
    width: 549.76px;
    height: 125px;
    display: flex;
    justify-content: start;
    align-items: center;

    background: #F6F6F6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-bottom: 20px;

    img {
        width: 125px !important;
        height: 125px;
        border-radius: 5px;
        object-fit: cover;
    }
    .content {
        margin: 10px;
        width: 100%;
        .name {
            color: #FF9F00;
            font-size: 18px;
            font-weight: bold;
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
            -webkit-box-orient: vertical;
        }
        .lettor {
            color: gray;
            font-size: 15px;
            font-weight: bold;
            margin: 5px;
        }
        .progress {
            color: black;
            text-align: center;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            margin-bottom: 0;
        }
    }
}
