.container{
  background-color: #F6F6F6;
  padding: 55px 75px;

  img {
    width: 100% !important;
    height: auto !important;
    object-fit: contain !important;
  }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  & > span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    color: #0d1c45;
  }
}
