.container {
  background-color: #0d1c45;
  padding: 50px 120px;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 35px;
}

.title {
  color: #fcd500;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
}
